<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >

<footer id="gnFoot" class="footer" th:fragment="acontractFooterFragment">
				<div class="container-fluid">
					<div class="copyright row">
						<div class="admission-sns-wrap">
							<div class="admission">
								<ul>
									<li><a href="#">#개인정보처리방침</a></li>
									<li><a href="#">#저작권정책</a></li>
									<li><a href="#">#담당자 찾기</a></li>
									<li><a href="#">#찾아오시는 길</a></li>
									<li><a href="#">#사이트맵</a></li>
									
										<li><a href="#" target="_blank">#원격지원요청</a></li>
									
								</ul>
							</div>																	
						</div>
					
						<div class="footer-inner clearfix">
							<div class="footer-left">
								<div class="address">
									<p>(06090)서울특별시 강남구 학동로 426 (삼성동)</p>
									<p>
										<a href="tel:02-3423-5114">02-3423-5114</a>(다산콜센터(
										<a href="tel:120">120</a>) 연결)&nbsp;&nbsp;|&nbsp;&nbsp;<a href="/dept/user/find.do?mid=FM040603" title="바로가기"><strong>담당자찾기 바로가기</strong></a>
									</p>
									<p>
										<a href="tel:02-3423-6000">02-3423-6000~3</a> (당직실 / 야간 ・ 공휴일) FAX. 02-3423-8800
									</p>
								</div>
							</div>
							<div class="footer-right">
								<div id="scroll-top">
									<button type="button"><i class="fa fa-angle-up"></i>TOP</button>
								</div>
								<div class="speed-mark-area">
									<div class="speed">
										<a href="javascript:;" onclick="contentsModalUrlView('/speed/list.do','민원스피드지수');return false" data-toggle="modal" data-target="#bottomSpeedModal" title="팝업창 열림">민원스피드지수</a>
										<ul class="avg">
											<li>일평균 : <span class="day">78%</span></li>
											<li>월평균 : <span class="month">78%</span></li>
										</ul>
									</div>
									<div id="bottomSpeedModal" class="modal fade" role="dialog" aria-labelledby="bottomSpeedModal" tabindex="-1">
										<div class="modal-dialog">
											<!-- Modal content-->
											<div class="modal-content">
												<div class="modal-header gn-modal-header">
													<a class="close" data-dismiss="modal" href="javascript:;" title="닫기">&times;</a>
													<h4 class="modal-title" id="bottomSpeedModalTitle"></h4>
												</div>
												<div class="modal-body" id="bottomSpeedModalBody">
													<div class="container-fluid container-fullw bg-white">
														<div id="bottomSpeedInfo"></div>
													</div>
												</div>
												<div class="modal-footer">
													<a class="btn btn-sm btn-gray" data-dismiss="modal" href="javascript:;">닫기</a>
												</div>
											</div>
										</div>
									</div>
									<div class="mark-img">
										<!-- <a data-toggle="modal" data-target="#gn-wah" class="modal_link"> --><img src="http://www.gangnam.go.kr/assets/images/common/footer/wa.png" alt="웹접근성마크"><!-- </a> -->
										<!-- <div class="modal fade" id="gn-wah" tabindex="-1" role="dialog" aria-labelledby="gn-wah" aria-hidden="true" style="display: none;">
											<div class="modal-dialog">
												<div class="modal-content">
													<div class="modal-header gn-modal-header">
														<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
														<h4 class="modal-title"><strong>웹접근성 품질인증서</strong></h4>
													</div>
													<div class="modal-body">
														<p class="text-center"><img src="/acontract/assets/images/common/footer/gn-wah.png" alt="웹접근성 품질인증서"></p>
													</div>
													<div class="modal-footer">
														<a class="btn btn-sm btn-gray" data-dismiss="modal">닫기</a>
													</div>
												</div>
											</div>
										</div> -->
										<a href="javascript:;" data-toggle="modal" data-target="#good_cont" class="modal_link ml5" title="팝업창 열림"><img src="http://www.gangnam.go.kr/assets/images/common/footer/good.png" alt="굿컨텐츠서비스"></a>
										<div class="modal fade" id="good_cont" tabindex="-1" role="dialog" aria-labelledby="good_cont" aria-hidden="true" style="display:none;">
											<div class="modal-dialog">
												<div class="modal-content">
													<div class="modal-header gn-modal-header">													  
													  <h4 class="modal-title"><strong>콘텐츠 제공서비스 품질인증 인증서</strong></h4>
													  <a class="close" data-dismiss="modal" aria-hidden="true" href="javascript:;" title="닫기">×</a>
													</div>
													<div class="modal-body">
														<p class="text-center">
															<img src="http://www.gangnam.go.kr/assets/images/common/footer/good_cont.png" alt="콘텐츠 제공서비스 품질인증 인증서 : 자세한내용은 아래 참조">
														</p>
														<div class="sr-only">
															<h5>콘텐츠제공서비스 품질인증서</h5>
															<ul>
																<li>인증번호:2017-11-0016</li>
																<li>홈페이지:www.gangnam.go.kr</li>
																<li>서비스명:강남구청 대표 홈페이지</li>
																<li>기업/기관명:강남구청</li>
																<li>대표자:신연희</li>
																<li>유효기간:2017년11월17일~2019년11월16일</li>
															</ul>
															<p>
																위 기관은 콘텐츠산업진흥법 제22조 규정에 의하여 우수한 콘텐츠 서비스를 고객에게 제공함으로써 콘텐츠 산업의 국가경쟁령 향상에
																기여하였기에 콘텐츠 제공서비스 품질인증기관 운영 규칙 제25조 제1항의 규정에 따라 콘텐츠 제공서비스 품질인증 사업자로 인증합니다.
															</p>
															<p>2017년11월17일</p>
															<p>한국데이터베이스진흥원장</p>
														</div>
													</div>
													<div class="modal-footer">
														<a href="javascript:;" class="btn btn-sm btn-gray" data-dismiss="modal">닫기</a>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="fnw_bnb">
									<!-- NHN ACE : [강남구청] 푸터 210*70 태그 -->
									<script type='text/javascript'>
									//<![CDATA[
										var m3_u = (location.protocol=='https:'?'https://delivery.acecounter.com/delivery/www/delivery/ajs.php':'http://delivery.acecounter.com/delivery/www/delivery/ajs.php');
										var m3_r = Math.floor(Math.random()*99999999999);
										if (!document.MAX_used) document.MAX_used = ',';
										document.write ("<scr"+"ipt type='text/javascript' src='"+m3_u);
										document.write ("?zoneid=549");
										document.write ('&amp;cb=' + m3_r);
										if (document.MAX_used != ',') document.write ("&amp;exclude=" + document.MAX_used);
										document.write (document.charset ? '&amp;charset='+document.charset : (document.characterSet ? '&amp;charset='+document.characterSet : ''));
										document.write ("&amp;loc=" + escape(window.location));
										if (document.referrer) document.write ("&amp;referer=" + escape(document.referrer));
										if (document.context) document.write ("&context=" + escape(document.context));
										if (document.mmm_fo) document.write ("&amp;mmm_fo=1");
										document.write ("'><\/scr"+"ipt>");
									//]]>
									</script>
									<noscript>
										<a href='http://delivery.acecounter.com/delivery/www/delivery/ck.php?n=ccb1d45f&amp;cb=INSERT_RANDOM_NUMBER_HERE' target='_blank'>
											<img src='http://delivery.acecounter.com/delivery/www/delivery/avw.php?zoneid=549&amp;cb=INSERT_RANDOM_NUMBER_HERE&amp;n=ccb1d45f' border='0' alt='' />
										</a>
									</noscript>			
									<!-- <img src="/acontract/assets/images/main/foo_nib.jpg" alt="" /> -->
								</div>
							</div>	
						</div>
					</div>
				</div>
				<!-- float btn set -->
				<div class="mbDim d-lg-none">&nbsp;</div>
				<div id="fixedFloatBtn">
					<div class="mobBtnSet d-block d-lg-none">
					
							<button type="button" class="mobCallBtn"><span>더보기</span></button>
							
							<ul class="mobBtnList">
								<li class="li3">
									<div class="mob_title">#공약 & 매니패스토</div>
									<div class="mob_icon">
										<a href="#"><i class="fa fa-user"></i></a>
									</div>
								</li>
								<li class="li2">
									<div class="mob_title">#구청장에게 바란다</div>
									<div class="mob_icon">
										<a href="#"><i class="fa fa-envelope"></i></a>
									</div>
								</li>
								
								<li class="li1">
									<div class="mob_title">#천명청원제</div>
									<div class="mob_icon">
										<a href="#"><i class="fa fa-edit"></i></a>
									</div>
								</li>
							</ul>
						</div>
						
					<div class="totopBtn mt10"><span>맨 위로</span></div>
					
				</div>
				<!-- // float btn set -->
				
				<!-- <a href="javascript:;" id="scrollToTop" title="가장 위로"><i class="fa fa-angle-up fa-2x"><span class="blind">가장 위로</span></i></a>	 -->
				<!-- end: scrollToTop -->
				
				<script>
					var dim = $(".mbDim");
					// mobile fixed btn
					$(".mobCallBtn").click(function(){
						$(".mobBtnList").toggleClass("open");
						$(".mobCallBtn").toggleClass("open");
	
						if ( $(this).hasClass("open") ) {
							dim.fadeIn(300);
							$("body").addClass("scrollDfd");
						} else {
							dim.fadeOut(300);
							$("body").removeClass("scrollDfd");
						}
	
						$("#fixedFloatBtn .acBtn").click(function(){
							dim.fadeOut(300);
							$("body").removeClass("scrollDfd");
							$(".mobBtnList").removeClass("open");
							$(".mobCallBtn").removeClass("open");
						});
					});
					
						
					// totop btn show/hide event
					if ( $("#fixedFloatBtn").is(":visible") ) {
						totopBtn();
						$(window).scroll(function(){
							totopBtn();
						});
					}
						
					function totopBtn() {
						var scl = $(window).scrollTop();
						var totop = $(".totopBtn");
	
						if ( scl > 100 ) {
							totop.show();
						} else {
							totop.hide();
						}
					}
						
					// go top plugin
					(function ($, window, document) {
						$.fn.goTop = function (options) {
							var defaults = {
							scrollTop: 100,
							scrollSpeed: 1000
						};
						var options = $.extend(defaults, options);
						var $this = $(this);
	
						$this.on('click', function () {
							$('html,body').animate({
								'scrollTop': 0
							}, options.speed)
							})
						}
					})(jQuery, window, document)
					$(".totopBtn").goTop(); // go top function
				</script>
				
			</footer>
			<!-- //gnFoot -->    

</html>