<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >

<!-- start: sub-wrap -->

<div id="sub-wrap" class="sub" th:fragment="acontractsubwrapFragment">
				<div class="container">
					<div class="row">
		<!-- start: left -->
	 	<div class="left col-md-3 visible-md visible-lg">
	 		<div class="left-head">
	 			<h2>함께강남</h2>
	 		</div>
	 		<div class="left-menu">
						<div class="panel-group depth2" id="pc_menu_accordion_5">
									<div class="panel panel-default">
		    							<div class="panel-heading ">
		      								<span class="panel-title">
														<a href="#" >#공지사항</a>
		      								</span>
			    						</div>
		  							</div>
									<div class="panel panel-default">
		    							<div class="panel-heading ">
		      								<span class="panel-title">
													<a href="#" >#고시공고</a>
		      								</span>
			    						</div>
		  							</div>
									<div class="panel panel-default">
		    							<div class="panel-heading ">
		      								<span class="panel-title">
													<a href="#" >#보도자료</a>
		      								</span>
			    						</div>
		  							</div>
									<div class="panel panel-default">
		    							<div class="panel-heading ">
		      								<span class="panel-title">
													<a href="#" >#언론보도</a>
		      								</span>
			    						</div>
		  							</div>
									<div class="panel panel-default">
		    							<div class="panel-heading ">
		      								<span class="panel-title">
													<a href="#" >#오늘의 포토</a>
		      								</span>
			    						</div>
		  							</div>
									<div class="panel panel-default">
		    							<div class="panel-heading active">
		      								<span class="panel-title">
														<a href="/acontractview/private/orderingPlanView" >!수의계약</a>
		      								</span>
			    						</div>
		  							</div>
									<div class="panel panel-default">
		    							<div class="panel-heading active">
		      								<span class="panel-title">
														<a href="/acontractview/general/generalContractOrdPlan" >!일반계약</a>
		      								</span>
			    						</div>
		  							</div>
									<div class="panel panel-default">
		    							<div class="panel-heading ">
		      								<span class="panel-title">
													<a href="#" >#구보/입법예고</a>
		      								</span>
			    						</div>
		  							</div>
									<div class="panel panel-default">
		    							<div class="panel-heading ">
		      								<span class="panel-title">
		        									<a data-toggle="collapse" data-parent="#pc_menu_accordion_5" href="#pc_menu_collapse_5_9">#강남구소개 <i class="fa" aria-hidden="true"></i></a>
		      								</span>
			    						</div>
				    						<div id="pc_menu_collapse_5_9" class="panel-collapse collapse ">
				      							<div class="panel-body">
				      								<div class="panel-group depth3" id="pc_menu_accordion_5_9">
					      										<div class="panel panel-default ">
					      											<div class="panel-heading ">
									      								<span class="panel-title">
																				<a href="#" ><i class="fa fa-angle-right" aria-hidden="true"></i>#강남역사관</a>
									      								</span>
										    						</div>
					      										</div>
					      										<div class="panel panel-default ">
					      											<div class="panel-heading ">
									      								<span class="panel-title">
																				<a href="#" ><i class="fa fa-angle-right" aria-hidden="true"></i>#일반현황</a>
									      								</span>
										    						</div>
					      										</div>
					      										<div class="panel panel-default ">
					      											<div class="panel-heading ">
									      								<span class="panel-title">
																				<a href="#" ><i class="fa fa-angle-right" aria-hidden="true"></i>#행정구역</a>
									      								</span>
										    						</div>
					      										</div>
					      										<div class="panel panel-default ">
					      											<div class="panel-heading ">
									      								<span class="panel-title">
																				<a href="#" ><i class="fa fa-angle-right" aria-hidden="true"></i>#구민의상</a>
									      								</span>
										    						</div>
					      										</div>
				      								</div>
				      							</div>
				    						</div>
		  							</div>
									<div class="panel panel-default">
		    							<div class="panel-heading ">
		      								<span class="panel-title">
		        									<a data-toggle="collapse" data-parent="#pc_menu_accordion_5" href="#pc_menu_collapse_5_10">#조직안내 <i class="fa" aria-hidden="true"></i></a>
		      								</span>
			    						</div>
				    						<div id="pc_menu_collapse_5_10" class="panel-collapse collapse ">
				      							<div class="panel-body">
				      								<div class="panel-group depth3" id="pc_menu_accordion_5_10">
					      										<div class="panel panel-default ">
					      											<div class="panel-heading ">
									      								<span class="panel-title">
																				<a href="#" ><i class="fa fa-angle-right" aria-hidden="true"></i>#조직도</a>
									      								</span>
										    						</div>
					      										</div>
					      										<div class="panel panel-default ">
					      											<div class="panel-heading ">
									      								<span class="panel-title">
																				<a href="#" ><i class="fa fa-angle-right" aria-hidden="true"></i>#조직운영 핵심지표 </a>
									      								</span>
										    						</div>
					      										</div>
					      										<div class="panel panel-default ">
					      											<div class="panel-heading ">
									      								<span class="panel-title">
																				<a href="#" ><i class="fa fa-angle-right" aria-hidden="true"></i>#인사운영 현황</a>
									      								</span>
										    						</div>
					      										</div>
				      								</div>
				      							</div>
				    						</div>
		  							</div>
									<div class="panel panel-default">
		    							<div class="panel-heading ">
		      								<span class="panel-title">
		        									<a data-toggle="collapse" data-parent="#pc_menu_accordion_5" href="#pc_menu_collapse_5_11">청사안내 <i class="fa" aria-hidden="true"></i></a>
		      								</span>
			    						</div>
				    						<div id="pc_menu_collapse_5_11" class="panel-collapse collapse ">
				      							<div class="panel-body">
				      								<div class="panel-group depth3" id="pc_menu_accordion_5_11">
					      										<div class="panel panel-default ">
					      											<div class="panel-heading ">
									      								<span class="panel-title">
																				<a href="#" ><i class="fa fa-angle-right" aria-hidden="true"></i>#구청</a>
									      								</span>
										    						</div>
					      										</div>
					      										<div class="panel panel-default ">
					      											<div class="panel-heading ">
									      								<span class="panel-title">
																				<a href="#" ><i class="fa fa-angle-right" aria-hidden="true"></i>#보건소</a>
									      								</span>
										    						</div>
					      										</div>
					      										<div class="panel panel-default ">
					      											<div class="panel-heading ">
									      								<span class="panel-title">
																				<a href="#" ><i class="fa fa-angle-right" aria-hidden="true"></i>#동주민센터</a>
									      								</span>
										    						</div>
					      										</div>
				      								</div>
				      							</div>
				    						</div>
		  							</div>
									<div class="panel panel-default">
		    							<div class="panel-heading ">
		      								<span class="panel-title">
		        									<a data-toggle="collapse" data-parent="#pc_menu_accordion_5" href="#pc_menu_collapse_5_12">공공시설 <i class="fa" aria-hidden="true"></i></a>
		      								</span>
			    						</div>
				    						<div id="pc_menu_collapse_5_12" class="panel-collapse collapse ">
				      							<div class="panel-body">
				      								<div class="panel-group depth3" id="pc_menu_accordion_5_12">
					      										<div class="panel panel-default ">
					      											<div class="panel-heading ">
									      								<span class="panel-title">
																				<a href="#" ><i class="fa fa-angle-right" aria-hidden="true"></i>#이재민 임시주거시설(실내구호소)</a>
									      								</span>
										    						</div>
					      										</div>
					      										<div class="panel panel-default ">
					      											<div class="panel-heading ">
									      								<span class="panel-title">
																				<a href="#" ><i class="fa fa-angle-right" aria-hidden="true"></i>#지진옥외대피소</a>
									      								</span>
										    						</div>
					      										</div>
					      										<div class="panel panel-default ">
					      											<div class="panel-heading ">
									      								<span class="panel-title">
																				<a href="#" ><i class="fa fa-angle-right" aria-hidden="true"></i>#민방위 대피시설</a>
									      								</span>
										    						</div>
					      										</div>
					      										<div class="panel panel-default ">
					      											<div class="panel-heading ">
									      								<span class="panel-title">
																				<a href="#" ><i class="fa fa-angle-right" aria-hidden="true"></i>#무더위 쉼터</a>
									      								</span>
										    						</div>
					      										</div>
					      										<div class="panel panel-default ">
					      											<div class="panel-heading ">
									      								<span class="panel-title">
																				<a href="#" ><i class="fa fa-angle-right" aria-hidden="true"></i>#그늘막 설치</a>
									      								</span>
										    						</div>
					      										</div>
					      										<div class="panel panel-default ">
					      											<div class="panel-heading ">
									      								<span class="panel-title">
																				<a href="#" ><i class="fa fa-angle-right" aria-hidden="true"></i>#한파 쉼터</a>
									      								</span>
										    						</div>
					      										</div>
					      										<div class="panel panel-default ">
					      											<div class="panel-heading ">
									      								<span class="panel-title">
																				<a href="#" ><i class="fa fa-angle-right" aria-hidden="true"></i>#한파대비 따숨소</a>
									      								</span>
										    						</div>
					      										</div>
					      										<div class="panel panel-default ">
					      											<div class="panel-heading ">
									      								<span class="panel-title">
																				<a href="#" ><i class="fa fa-angle-right" aria-hidden="true"></i>#동 주민센터</a>
									      								</span>
										    						</div>
					      										</div>
					      										<div class="panel panel-default ">
					      											<div class="panel-heading ">
									      								<span class="panel-title">
																				<a href="#" ><i class="fa fa-angle-right" aria-hidden="true"></i>#여성 안전</a>
									      								</span>
										    						</div>
					      										</div>
					      										<div class="panel panel-default ">
					      											<div class="panel-heading ">
									      								<span class="panel-title">
																				<a href="#" ><i class="fa fa-angle-right" aria-hidden="true"></i>#학교</a>
									      								</span>
										    						</div>
					      										</div>
					      										<div class="panel panel-default ">
					      											<div class="panel-heading ">
									      								<span class="panel-title">
																				<a href="#" ><i class="fa fa-angle-right" aria-hidden="true"></i>#도서관</a>
									      								</span>
										    						</div>
					      										</div>
					      										<div class="panel panel-default ">
					      											<div class="panel-heading ">
									      								<span class="panel-title">
																				<a href="#" ><i class="fa fa-angle-right" aria-hidden="true"></i>#복지시설</a>
									      								</span>
										    						</div>
					      										</div>
					      										<div class="panel panel-default ">
					      											<div class="panel-heading ">
									      								<span class="panel-title">
																				<a href="#" ><i class="fa fa-angle-right" aria-hidden="true"></i>#편의시설</a>
									      								</span>
										    						</div>
					      										</div>
					      										<div class="panel panel-default ">
					      											<div class="panel-heading ">
									      								<span class="panel-title">
																				<a href="#" ><i class="fa fa-angle-right" aria-hidden="true"></i>#민간개방화장실</a>
									      								</span>
										    						</div>
					      										</div>
					      										<div class="panel panel-default ">
					      											<div class="panel-heading ">
									      								<span class="panel-title">
																				<a href="#" ><i class="fa fa-angle-right" aria-hidden="true"></i>#공원</a>
									      								</span>
										    						</div>
					      										</div>
					      										<div class="panel panel-default ">
					      											<div class="panel-heading ">
									      								<span class="panel-title">
																				<a href="#" ><i class="fa fa-angle-right" aria-hidden="true"></i>#무인민원발급기</a>
									      								</span>
										    						</div>
					      										</div>
					      										<div class="panel panel-default ">
					      											<div class="panel-heading ">
									      								<span class="panel-title">
																				<a href="#" ><i class="fa fa-angle-right" aria-hidden="true"></i>#주유소/가스</a>
									      								</span>
										    						</div>
					      										</div>
					      										<div class="panel panel-default ">
					      											<div class="panel-heading ">
									      								<span class="panel-title">
																				<a href="#" ><i class="fa fa-angle-right" aria-hidden="true"></i>#전기차 충전시설(급속)</a>
									      								</span>
										    						</div>
					      										</div>
					      										<div class="panel panel-default ">
					      											<div class="panel-heading ">
									      								<span class="panel-title">
																				<a href="#" ><i class="fa fa-angle-right" aria-hidden="true"></i>#강남공공 WiFi</a>
									      								</span>
										    						</div>
					      										</div>
				      								</div>
				      							</div>
				    						</div>
		  							</div>
									<div class="panel panel-default">
		    							<div class="panel-heading ">
		      								<span class="panel-title">
													<a href="#" >#자매결연도시</a>
		      								</span>
			    						</div>
		  							</div>
									<div class="panel panel-default">
		    							<div class="panel-heading ">
		      								<span class="panel-title">
													<a href="#" >#타기관공시송달</a>
		      								</span>
			    						</div>
		  							</div>
									<div class="panel panel-default">
		    							<div class="panel-heading ">
		      								<span class="panel-title">
		        									<a data-toggle="collapse" data-parent="#pc_menu_accordion_5" href="#pc_menu_collapse_5_15">홈페이지이용안내 <i class="fa" aria-hidden="true"></i></a>
		      								</span>
			    						</div>
				    						<div id="pc_menu_collapse_5_15" class="panel-collapse collapse ">
				      							<div class="panel-body">
				      								<div class="panel-group depth3" id="pc_menu_accordion_5_15">
					      										<div class="panel panel-default ">
					      											<div class="panel-heading ">
									      								<span class="panel-title">
																				<a href="#" ><i class="fa fa-angle-right" aria-hidden="true"></i>#개인정보처리방침</a>
									      								</span>
										    						</div>
					      										</div>
					      										<div class="panel panel-default ">
					      											<div class="panel-heading ">
									      								<span class="panel-title">
																				<a href="#" ><i class="fa fa-angle-right" aria-hidden="true"></i>#저작권 정책</a>
									      								</span>
										    						</div>
					      										</div>
					      										<div class="panel panel-default ">
					      											<div class="panel-heading ">
									      								<span class="panel-title">
																				<a href="#" ><i class="fa fa-angle-right" aria-hidden="true"></i>#사이트맵</a>
									      								</span>
										    						</div>
					      										</div>
					      										<div class="panel panel-default ">
					      											<div class="panel-heading ">
									      								<span class="panel-title">
																				<a href="#" ><i class="fa fa-angle-right" aria-hidden="true"></i>#RSS</a>
									      								</span>
										    						</div>
					      										</div>
					      										<div class="panel panel-default ">
					      											<div class="panel-heading ">
									      								<span class="panel-title">
																				<a href="#" ><i class="fa fa-angle-right" aria-hidden="true"></i>#홈페이지 변경안내</a>
									      								</span>
										    						</div>
					      										</div>
					      										<div class="panel panel-default ">
					      											<div class="panel-heading ">
									      								<span class="panel-title">
																					<a href="#" ><i class="fa fa-angle-right" aria-hidden="true"></i>#관련사이트</a>
									      								</span>
										    						</div>
					      										</div>
				      								</div>
				      							</div>
				    						</div>
		  							</div>
						</div>
			</div>
		</div>
		<!-- end: left -->
		<script type="text/javascript">
			$(document).ready(function(){
				var $menuClick = $('.left-menu .depth2>.panel>.panel-heading');
				$menuClick.click( function () {
					if ( $(this).hasClass('active') === false ){
						$menuClick.removeClass('active');
						$(this).addClass('active');
					} else if ( $(this).hasClass('active') === true ){
						$menuClick.removeClass('active');
					}
				});
			});
		</script>
		
		<th:block layout:fragment="acontractMainContents"></th:block>
		

					</div>
					<!-- end: row -->
				</div>
				<!-- end: container -->
			</div>
			<!-- end: sub-wrap -->

</html>