<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{layout/admin/promotiondefault}">

<th:block layout:fragment="promotionScript">
 <script type="text/javascript" src="/admin/script/admin-custom.js?ts=1468220054"></script>
</th:block>


<th:block layout:fragment="adminMainContents">

<div id="content" class="row">
                <div class="col-xs-12">
                    <div class="page-header js-affix">
    <h3>쿠폰 리스트</h3>
    <div class="btn-group">
        <a href="coupon_regist.php" class="btn btn-red-line">쿠폰 등록</a>
    </div>
</div>

<h5 class="table-title gd-help-manual">쿠폰 검색</h5>
<form id="frmSearchCoupon" method="get" class="js-form-enter-submit">
    <div class="search-detail-box">
        <table class="table table-cols">
            <colgroup>
                <col class="width-md">
                <col>
                <col class="width-md">
                <col>
            </colgroup>
            <tbody>
            <tr>
                <th>검색어</th>
                <td colspan="3">
                    <div class="form-inline">
                        <select class="form-control " id="key" name="key" ><option value="all"  >=통합검색=</option><option value="couponNm"  >쿠폰명</option><option value="couponDescribed"  >쿠폰설명</option><option value="couponInsertAdminId"  >등록자(아이디)</option></select>                        <input type="text" name="keyword" value="" class="form-control"/>
                    </div>
                </td>
            </tr>
            <tr>
                <th>등록일 검색</th>
                <td colspan="3">
                    <div class="form-inline">
                        <div class="input-group js-datepicker">
                            <input type="text" class="form-control width-xs" name="searchDate[]" value="2019-12-27"/>
                            <span class="input-group-addon"><span class="btn-icon-calendar"></span></span>
                        </div>
                        ~
                        <div class="input-group js-datepicker">
                            <input type="text" class="form-control width-xs" name="searchDate[]" value="2020-01-02"/>
                            <span class="input-group-addon"><span class="btn-icon-calendar"></span></span>
                        </div>
                        <div class="btn-group js-dateperiod" data-toggle="buttons" data-target-name="searchDate"><label class="btn btn-white btn-sm hand "><input type="radio" name="searchPeriod" value="0"  >오늘</label><label class="btn btn-white btn-sm hand "><input type="radio" name="searchPeriod" value="6"  >7일</label><label class="btn btn-white btn-sm hand "><input type="radio" name="searchPeriod" value="14"  >15일</label><label class="btn btn-white btn-sm hand "><input type="radio" name="searchPeriod" value="29"  >1개월</label><label class="btn btn-white btn-sm hand "><input type="radio" name="searchPeriod" value="89"  >3개월</label><label class="btn btn-white btn-sm hand "><input type="radio" name="searchPeriod" value="364"  >1년</label> </div >                     </div>
                </td>
            </tr>
            <tr>
                <th>쿠폰유형</th>
                <td colspan="3">
                    <label class="radio-inline">
                        <input type="radio" name="couponUseType" value="" checked='checked'/>전체
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="couponUseType" value="product" />상품적용쿠폰
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="couponUseType" value="order" />주문적용쿠폰
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="couponUseType" value="delivery" />배송비적용쿠폰
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="couponUseType" value="gift" />기프트쿠폰
                    </label>
                </td>
            </tr>
            <tr>
                <th>발급방식</th>
                <td colspan="3">
                    <label class="radio-inline">
                        <input type="radio" name="couponSaveType" value="" checked='checked'/>전체
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="couponSaveType" value="down" />회원다운로드
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="couponSaveType" value="auto" />자동발급
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="couponSaveType" value="manual" />수동발급
                    </label>
                </td>
            </tr>
            <tr>
                <th>사용범위</th>
                <td>
                    <label class="radio-inline">
                        <input type="radio" name="couponDeviceType" value="" checked='checked'/>전체
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="couponDeviceType" value="all" />PC+모바일
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="couponDeviceType" value="pc" />PC
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="couponDeviceType" value="mobile" />모바일
                    </label>
                </td>
                <th>혜택구분</th>
                <td>
                    <label class="radio-inline">
                        <input type="radio" name="couponKindType" value="" checked='checked'/>전체
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="couponKindType" value="sale" />상품할인
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="couponKindType" value="add" />마일리지적립
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="couponKindType" value="delivery" />배송비할인
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="couponKindType" value="deposit" />예치금지급
                    </label>
                </td>
            </tr>
            <tr>
                <th>발급상태</th>
                <td colspan="3">
                    <label class="radio-inline">
                        <input type="radio" name="couponType" value="" checked='checked'/>전체
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="couponType" value="y" />발급중
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="couponType" value="n" />일시정지
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="couponType" value="f" />발급종료
                    </label>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="table-btn">
        <input type="submit" value="검색" class="btn btn-lg btn-black">
    </div>

    <div class="table-header">
        <div class="pull-left">
            검색 <strong>0</strong>건 / 전체
            <strong>0</strong>건
        </div>
        <div class="pull-right">
            <div class="form-inline">
                                <select class="form-control " id="pageNum" name="pageNum" onchange="this.form.submit();"><option value="10"  >10개 보기</option><option value="20"  >20개 보기</option><option value="30"  >30개 보기</option><option value="40"  >40개 보기</option><option value="50"  >50개 보기</option><option value="60"  >60개 보기</option><option value="70"  >70개 보기</option><option value="80"  >80개 보기</option><option value="90"  >90개 보기</option><option value="100"  >100개 보기</option><option value="200"  >200개 보기</option><option value="300"  >300개 보기</option><option value="500"  >500개 보기</option></select>            </div>
        </div>
    </div>
</form>

<form id="frmCouponList" action="../promotion/coupon_ps.php" method="post">
    <input type="hidden" name="mode" value="deleteCouponList"/>
    <table class="table table-rows promotion-coupon-list">
        <thead>
        <tr>
            <th><input type="checkbox" class="js-checkall" data-target-name="chkCoupon[]"/></th>
            <th>번호</th>
            <th>쿠폰명</th>
            <th>등록일</th>
            <th>등록자</th>
            <th>사용기간</th>
            <th>쿠폰유형</th>
            <th>사용범위</th>
            <th>혜택구분</th>
            <th>발급방식</th>
            <th>발급수</th>
            <th>발급상태</th>
            <th>발급내역관리</th>
            <th>수정</th>
        </tr>
        </thead>
        <tbody>
                    <tr>
                <td colspan="14" class="no-data">
                    검색된 쿠폰이 없습니다.
                </td>
            </tr>
                    </tbody>
    </table>

    <div class="table-action">
        <div class="pull-left">
            <button type="button" class="btn btn-white js-delete-coupon">선택 삭제</button>
        </div>
    </div>
</form>

<div class="center"><nav><ul class="pagination pagination-sm"></ul></nav></div>

<script type="text/javascript">
    <!--
    $(document).ready(function () {
        $('#frmSearchCoupon').validate({
            submitHandler: function (form) {
                form.submit();
            }
        });

        $('#frmCouponList').validate({
            submitHandler: function (form) {
                form.target = 'ifrmProcess';
                form.submit();
            },
            rules: {
                'chkCoupon[]': 'required',
            },
            messages: {
                'chkCoupon[]': {
                    required: "삭제할 쿠폰을 선택해 주세요.",
                }
            }
        });

        $('.change-coupon-type').click(function (e) {
            changeCouponType($(this).attr('data-no'), $(this).attr('data-type'));
        });
        $('.save-coupon-type').click(function (e) {
            saveCoupon($(this).attr('data-no'));
        });
        $('.js-delete-coupon').click(function (e) {
            if ($('#frmCouponList').valid()) {
                BootstrapDialog.confirm({
                    type: BootstrapDialog.TYPE_DANGER,
                    title: '쿠폰삭제',
                    message: '선택된 ' + $('input[name*=chkCoupon]:checked').length + '개의 쿠폰을 정말로 삭제 하시겠습니까?<br />삭제 시 정보는 복구 되지 않습니다.',
                    closable: false,
                    callback: function (result) {
                        if (result) {
                            $('#frmCouponList').submit();
                        }
                    }
                });
            }
        });
        $('.js-down-link').click(function (e) {
            $(this).data('no')
        });
    });
    function changeCouponType(couponNo, couponType) {
        $.ajax({
            method: "POST",
            cache: false,
            url: "../promotion/coupon_ps.php",
            data: "mode=modifyCouponList&couponNo=" + couponNo + "&couponType=" + couponType,
            dataType: 'json'
        }).success(function (data) {
            BootstrapDialog.alert({
                type: BootstrapDialog.TYPE_INFO,
                title: '안내',
                message: data['msg'],
                closable: false,
                callback: function (result) {
                    if (result) {
                        location.reload();
                    }
                }
            });
        }).error(function (e) {
            alert(e.responseText);
        });
    }
    function saveCoupon(couponNo) {
        location.href = '../promotion/coupon_save.php?couponNo=' + couponNo;
    }
    //-->
</script>

                                    </div>
            </div>



</th:block>


</html>
