<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{layout/gukmin/gukmindefault}">

<th:block layout:fragment="gukminMainContents">

<form id="bookmarklistform" name="bookmarklistform" action="/gukminview/member/myBookmarkView" method="post">
	<section>
		<div class="mypDesc">
			<p class="t01">#나의 찜목록</p>
			<p class="t02">#내가 찜한 스팟의 목록을 보여줍니다!</p>
		</div>
		<div class="norBox">
			<ul class="commTabs t01">
				<li><a href="/gukminview/member/myBookmarkView" class="on">나만의 찜목록</a></li>
				<li><a href="/gukminview/member/myBookmarkSpotView">찜스팟 전체보기</a></li>
				<li><a href="#">#찜호스트</a></li>
				<li><a href="#">#최근 본 스팟</a></li>
			</ul>
			<div class="btnArea ar">
				<a href="javascript:editMyBookmarkList();" class="btnManager2">#찜목록관리</a>
			</div>
			<ul class="myjjimList" id="bookmarklist">
			</ul>
			<div class="paging" id="bookmarklistpaging"></div>
		</div>
	</section>

	<input type="hidden" name="currentPage" value="" id="currentPage"/>
	<div class="dialog" id="bookmarklistdialog"
		style="display: none; z-index: 1000;">
		<div class="popBox">
			<div class="popHeader">
				<h1>찜목록관리</h1>
				<a href="javascript:void(0)"
					onclick="javascript:$('#bookmarklistdialog').hide();$.getMyBookmarkList(1);"><img
					src="https://joyfesta.kr/include/img/ico/ico_close02.png" /></a>
			</div>
			<div class="popCont">
				<div class="popjjim_list_edit">
					<ul class="list_edit">
					</ul>
					<div class="list_add">
						<div class="cont">
							<input type="text" id="title" placeholder="찜목록명" />
						</div>
						<div class="btnArea">
							<a href="#" id="bookmarkaddbutton" class="btnSmall">추가</a>
						</div>
					</div>
				</div>
				<div class="btnBox">
					<!--
					<a href="javascript:void(0)" class="btnType01">저장</a> 
				 -->
					<a href="javascript:void(0)"
						onclick="javascript:$('#bookmarklistdialog').hide();$.getMyBookmarkList(1);"
						class="btnType02">닫기</a>
				</div>
			</div>

		</div>
	</div>
</form>



<script src="/gukmin/js/underscore-min.js"></script>
<script>
	$('#bookmarkaddbutton').click(function() {
		resetCommonDialog();
		indicatorOn();
		$.ajax({
			url : 'JSONMyBookmarkListAdd.festa',
			type : 'POST',
			data : {
				title : $('#title').val()
			},
			dataType : 'json',
			success : function(data, textStatus, jqXHR) {
				indicatorOff();
				if (data.resultcode == 0) {
					$('#dialogtitle').append('찜목록관리');
					$('#dialogcontent').append('찜목록이 추가되었습니다.');
					//$('#commondialog').show();
					$('#title').val('');
					editMyBookmarkList();
				} else {
					$('#dialogtitle').append('찜목록관리');
					$('#dialogcontent').append(data.resultmessage);
					$('#commondialog').show();
				}
			},
			error : function(jqXHR, textStatus, errorThrown) {
				indicatorOff();
				$('#dialogtitle').append('찜목록관리');
				$('#dialogcontent').append(textStatus);
				$('#commondialog').show();
			}
		});
	});

	function editMyBookmarkListInfo(bookmarklistseq, titleid) {
		resetCommonDialog();
		indicatorOn();
		$.ajax({
			url : 'JSONMyBookmarkListEdit.festa',
			type : 'POST',
			data : {
				bookmarklistseq : bookmarklistseq,
				title : $('#' + titleid).val()
			},
			dataType : 'json',
			success : function(data, textStatus, jqXHR) {
				indicatorOff();
				if (data.resultcode == 0) {
					editMyBookmarkList();
					$('#dialogtitle').append('찜목록수정');
					$('#dialogcontent').append('찜목록명 수정이 완료되었습니다.');
					$('#commondialog').show();
				} else {
					$('#dialogtitle').append('찜목록수정');
					$('#dialogcontent').append(data.resultmessage);
					$('#commondialog').show();
				}
			},
			error : function(jqXHR, textStatus, errorThrown) {
				indicatorOff();
				$('#dialogtitle').append('찜목록수정');
				$('#dialogcontent').append(textStatus);
				$('#commondialog').show();
			}
		});
	}

	function deleteMyBookmarkListInfo(bookmarklistseq) {
		if (confirm('해당 찜목록을 삭제하시겠습니까?')) {
			resetCommonDialog();
			indicatorOn();
			$.ajax({
				url : 'JSONMyBookmarkListDelete.festa',
				type : 'POST',
				data : {
					bookmarklistseq : bookmarklistseq
				},
				dataType : 'json',
				success : function(data, textStatus, jqXHR) {
					indicatorOff();
					if (data.resultcode == 0) {
						editMyBookmarkList();
						$('#dialogtitle').append('찜목록삭제');
						$('#dialogcontent').append('찜목록삭제가 완료되었습니다.');
						$('#commondialog').show();
					} else {
						$('#dialogtitle').append('찜목록삭제');
						$('#dialogcontent').append(data.resultmessage);
						$('#commondialog').show();
					}
				},
				error : function(jqXHR, textStatus, errorThrown) {
					indicatorOff();
					$('#dialogtitle').append('찜목록삭제');
					$('#dialogcontent').append(textStatus);
					$('#commondialog').show();
				}
			});
		}
	}

	function editMyBookmarkList() {
		resetCommonDialog();
		indicatorOn();
		$
				.ajax({
					url : 'JSONMyBookmarkListAll.festa',
					type : 'POST',
					data : {},
					dataType : 'json',
					success : function(data, textStatus, jqXHR) {
						indicatorOff();
						if (data.resultcode == 0) {
							var itemList = data.itemList;
							$('.list_edit').empty();
							if (itemList.length > 0) {
								_
										.each(
												itemList,
												function(item, index) {
													$('.list_edit')
															.append(
																	'<li>'
																			+ '<div class="num">'
																			+ (index + 1)
																			+ '</div>'
																			+ '<div class="cont">'
																			+ '<input type="text" id="titleid_'
																			+ (index + 1)
																			+ '" value="'
																			+ item.title
																			+ '" placeholder="" />'
																			+ '</div>'
																			+ '<div class="btnArea">'
																			+ '<a href="javascript:editMyBookmarkListInfo('
																			+ item.bookmarklistseq
																			+ ', \'titleid_'
																			+ (index + 1)
																			+ '\');" class="btnSmall">수정</a> <a href="javascript:deleteMyBookmarkListInfo('
																			+ item.bookmarklistseq
																			+ ');" class="btnSmall">삭제</a>'
																			+ '</div>'
																			+ '</li>');
												});
							} else {
								$('.list_edit').append('등록된 찜목록이 없습니다.');
							}
							$('#bookmarklistdialog').show();
						}
					},
					error : function(jqXHR, textStatus, errorThrown) {
						indicatorOff();
						$('#dialogtitle').append('찜목록관리');
						$('#dialogcontent').append(textStatus);
						$('#commondialog').show();
					}
				});

	}
</script>
<script>
	var pageSize = 10;
/* 	$.getMyBookmarkList = function(currentPage) {
		resetCommonDialog();
		indicatorOn();
		$
				.ajax({
					url : 'JSONMyBookmarkList.festa',
					type : 'POST',
					data : {
						currentPage : currentPage
					},
					dataType : 'json',
					success : function(data, textStatus, jqXHR) {
						indicatorOff();
						if (data.resultcode == 0) {
							var itemList = data.itemList;
							paging = data.paging;
							$('#bookmarklist').empty();
							$('#bookmarklistpaging').empty();
							if (itemList.length == 0) {
								$('#bookmarklist').append('등록된 찜목록이 없습니다.');
							} else { // 데이터가있으면 목록을 each로 반복
								_
										.each(
												itemList,
												function(item, index) {
													var listno = (index + 1)
															+ (currentPage - 1)
															* pageSize;
													$('#bookmarklist')
															.append(
																	'<li>'
																			+ '<div class="num">'
																			+ listno
																			+ '</div>'
																			+ '<div class="cont">'
																			+ '<a href="MyBookmarkDetail.festa?bookmarklistseq='
																			+ item.bookmarklistseq
																			+ '" class="tit">'
																			+ item.title
																			+ '</a>'
																			+ '<div class="nlist">'
																			+ '<span>축제·이벤트 <strong>('
																			+ item.festivalcount
																			+ ')</strong>개'
																			+ '</span> <span>전통시장 <strong>('
																			+ item.marketcount
																			+ ')</strong>개'
																			+ '</span> <span>스토어 <strong>('
																			+ item.storecount
																			+ ')</strong>개'
																			+ '</span>'
																			+ '</div>'
																			+ '</div>'
																			+ '<div class="ctrl">'
																			+ '<a href="javascript:changeBookmarkListOrderno(\'up\', \''
																			+ item.bookmarklistseq
																			+ '\');" class="listUp"><img src="../../include/img/ico/ico_up02.png" /></a>'
																			+ '<a href="javascript:changeBookmarkListOrderno(\'dn\', \''
																			+ item.bookmarklistseq
																			+ '\');" class="listDown"><img src="../../include/img/ico/ico_down02.png" /></a>'
																			+ '</div>'
																			+ '</li>');
												});
								// 이부분이 페이징처리
								if (paging.page != 1) {
									$('#bookmarklistpaging')
											.append(
													'<a href="javascript:$.getMyBookmarkList(1);" class="first"></a>'); // 첫페이지로가는버튼
									// 활성화
								} else {
									$('#bookmarklistpaging')
											.append(
													'<a href="javascript:void(0);" class="first"></a>'); // 첫페이지로가는버튼
									// 비활성화
								}
								if (paging.block != 1) { // 첫번째 블럭이 아니면
									$('#bookmarklistpaging')
											.append(
													'<a href="javascript:$.getMyBookmarkList('
															+ (Number(paging.startPage) - Number(1))
															+ ');" class="prev"></a>'); // 뒤로가기버튼
									// 활성화
								} else {
									$('#bookmarklistpaging')
											.append(
													'<a href="javascript:void(0);" class="prev">1</a>'); // 뒤로가기버튼
									// 비활성화
								}
								for (var i = paging.startPage; i <= paging.endPage; i++) { // 시작페이지부터
									// 종료페이지까지
									// 반복문
									if (paging.page == i) { // 현재페이지가 반복중인 페이지와
										// 같다면
										$('#bookmarklistpaging').append(
												'<a href="javascript:void(0);" class="on">'
														+ i + '</a>'); // 버튼
										// 비활성화
									} else {
										$('#bookmarklistpaging').append(
												'<a href="javascript:$.getMyBookmarkList('
														+ i + ');">' + i
														+ '</a>'); // 버튼
										// 활성화
									}
								}
								if (paging.block < paging.totalBlock) { // 전체페이지블럭수가
									// 현재블럭수보다
									// 작을때
									$('#bookmarklistpaging')
											.append(
													'<a href="javascript:$.getMyBookmarkList('
															+ (Number(paging.endPage) + Number(1))
															+ ');" class="next"></a>'); // 다음페이지버튼
									// 활성화
								} else {
									$('#bookmarklistpaging')
											.append(
													'<a href="javascript:void(0);" class="next"></a>'); // 다음페이지버튼
									// 비활성화
								}
								if (paging.page < paging.totalPage) { // 현재페이지가
									// 전체페이지보다
									// 작을때
									$('#bookmarklistpaging').append(
											'<a href="javascript:$.getMyBookmarkList('
													+ paging.totalPage
													+ ');" class="last"></a>'); // 마지막페이지로
									// 가기
									// 버튼
									// 활성화
								} else {
									$('#bookmarklistpaging')
											.append(
													'<a href="javascript:void(0);" class="last"></a>'); // 마지막페이지로
									// 가기
									// 버튼
									// 비활성화
								}
							}
						} else {
							$('#dialogtitle').append('에러');
							$('#dialogcontent').append(data.resultmessage);
							$('#commondialog').show();
						}
					},
					error : function(jqXHR, textStatus, errorThrown) {
						indicatorOff();
						$('#dialogtitle').append('에러');
						$('#dialogcontent').append(textStatus);
						$('#commondialog').show();
					}
				});
	} */

	function changeBookmarkListOrderno(order, bookmarklistseq) {
		resetCommonDialog();
		indicatorOn();
		$.ajax({
			url : 'JSONMyBookmarkListOrderno.festa',
			type : 'POST',
			data : {
				order : order,
				bookmarklistseq : bookmarklistseq
			},
			dataType : 'json',
			success : function(data, textStatus, jqXHR) {
				indicatorOff();
				if (data.resultcode == 0) {
					$.getMyBookmarkList(1);
				}
			},
			error : function(jqXHR, textStatus, errorThrown) {
				indicatorOff();
				$('#dialogtitle').append('찜목록관리');
				$('#dialogcontent').append(textStatus);
				$('#commondialog').show();
			}
		});
	}
</script>
<script>
	$(document).ready(function() {
		$.getMyBookmarkList(1);

	});

	
</script>

</th:block>

</html>