<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="shop.fims.admin.mapper.AMemberMapper">
	<resultMap type="shop.fims.vo.Member" id="MemberResultMap">
		<result property="MemCd" column="mem_cd"/>
		<result property="MemLevCd" column="mem_lev_cd"/>
		<result property="MemNm" column="mem_nm"/>
		<result property="MemAddr" column="mem_addr"/>
		<result property="MemPhone" column="mem_phone"/>
		<result property="MemEmail" column="mem_email"/>
		<result property="MemBirth" column="mem_birth"/>
		<result property="MemJoinDt" column="mem_join_dt"/>
	</resultMap>
	
	<resultMap type="shop.fims.vo.Login" id="LoginResultMap">
	<result property="LoginCd" column="login_cd"/>
	<result property="MemCd" column="mem_cd"/>
	<result property="MemLevCd" column="mem_lev_cd"/>
	<result property="LoginPw" column="login_pw"/>
	<result property="MemNm" column="mem_nm"/>
	<result property="MemLevNm" column="mem_lev_nm"/>
	</resultMap>

	<!-- 모든 회원 조회 -->
	 <select id="getMemberList" resultMap="MemberResultMap">
	 	SELECT
			*
		FROM 
			Member
	 </select>
	
</mapper>