<div class="gnbAnchor_wrap">
        <span class="btn_setting"><img src="/admin/gd_share/img/button_setting.png" alt="필수설정 버튼"/></span>
        <div id="gnbAnchor">
        <div class="scrollTop" style="display:none;">
            <a href="#top"><img src="/admin/gd_share/img/scroll_top_btn.png"></a>
        </div>
        <div class="scrollDown" style="display:block;">
            <a href="#down"><img src="/admin/gd_share/img/scroll_down_btn.png"></a>
        </div>
    </div>
</div>
<iframe name="ifrmProcess" src="/blank.php" width="100%" height="200" class="display-none"></iframe>

