<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
<link rel="stylesheet" type="text/css" href="/gukmin/include/css/common_190812.css" />
<link rel="stylesheet" type="text/css" href="/gukmin/include/css/default_190911.css" />
<script src="/gukmin/include/js/jquery-3.2.1.min.js"></script>
<title>이용약관 | 축제&middot;전통시장 플랫폼 조이페스타(JOYFESTA)</title>
</head>
<body>
	<header>
	<div class="rela">
		<h1>
			<a href="/"><img
				src="https://joyfesta.kr/include/img/etc/etc_logo.png" /></a>
		</h1>
		<div class="totalBox">
			<nav>
				<ul>
					<li id="mainli"><a href="/" id="mainhref">!전체</a></li>
					<li id="festivalli"><a href="/gukminview/festival/festivalAndEventView" id="festivalhref">!축제·이벤트</a></li>
					<li id="marketli"><a href="/acontractview/private/orderingPlanView" id="markethref">!계약공시</a></li>
					<li id="promotionli"><a href="/ebudgetview/budget/budgetMainView"
						id="promotionhref">!경영공시</a></li>
					<li id="communityli"><a href="/gukminview/community/communityView"
						id="communityhref">!커뮤니티</a>
				</ul>
			</nav>
			<div class="etcRight">
				<ul>
						<li class="ico_spot"><a href="/adminview/adminMainView">!관리자홈페이지</a></li>
						<li class="ico_spot"><a href="/gukminview/festival/hostSpotRegisterForm">!스팟등록하기</a></li>
				</ul>
					<a href="/gukminview/login/loginForm" class="pLogout"><span>!로그인</span></a>
			<form id="searchform" name="searchform" action="#" method="post">
				<div class="searchBox">
					<input type="text" autocomplete="off" id="tagSearch"
						name="tagSearch"
						placeholder="#무엇을 찾고 싶으세요?" /> <a href="javascript:void(0)"
						class="btnSearch"><img
						src="https://joyfesta.kr/include/img/ico/ico_search.png" id="keywordsearchbutton" /></a>
					<a href="javascript:void(0)" class="btnSmartSearch"><img
						src="https://joyfesta.kr/include/img/ico/ico_search01.png" /></a>
				</div>
			</form>
			</div>
		</div>
	</div>
	</header>
	
	<div class="themeListBox">
		<ul class="themeList">
		</ul>
	</div>
	<div class="obgBox" style="padding-top: 150px">
		<h2 class="mtit">
			#오늘의 <strong>핫 스팟!</strong>
		</h2>
		<div class="hotSlideBox">
			<div class="hotSlide">
						<div class="item">
					<div class="list">
						<div class="pic_area">
							<a
								href="#"
								class="pic"><img
								src="https://joyfesta.kr/uploadedfiles/spot/2019/12/80388160_2877863695581775_7190616367014346752_n_142313794.jpg" />
								<div class="sts_area">
											<span class="sts_be">진행<br />예정
											</span>
								</div></a>
						</div>
						<div class="cont">
							<p class="t01">
								<a
									href="#">
									#강릉 해넘이 해맞이 축제 2020
								</a>
							</p>
							<div class="t02">
								<span class="date"> 
										2019.12.31~2020.01.01
								</span> <span class="gps">강원도 강릉시 창해로 514</span>
							</div>
							
						</div>
					</div>
					<div class="list">
						<div class="pic_area">
							<a
								href="#"
								class="pic"><img
								src="https://joyfesta.kr/uploadedfiles/spot/2019/12/b3d43de3-73d5-4bfe-9e36-06031747d9fc_104134725.JPG" />
								<div class="sts_area">
										
											<span class="sts_be">진행<br />예정
											</span>
								</div></a>
						</div>
						<div class="cont">
							<p class="t01">
								<a
									href="/gukminview/festivaldetail/festivalDetailView2">
									!통영 해맞이 행사 2020 
								</a>
							</p>
							<div class="t02">
								<span class="date"> 
										2020.01.01~2020.01.01
								</span> <span class="gps">경상남도 통영시 멘데해안길 205 (정량동)</span>
							</div>
						</div>
					</div>
					<div class="list">
						<div class="pic_area">
							<a
								href="#"
								class="pic"><img
								src="https://joyfesta.kr/uploadedfiles/spot/2019/12/246b4b98-fdf2-4fb6-8441-b47a92609c98_113931995.png" />
								<div class="sts_area">
										<!--
										<span class="sts_new">NEW</span> 
									 -->
											<span class="sts_be">진행<br />예정
											</span>
								</div></a>
						</div>
						<div class="cont">
							<p class="t01">
								<a
									href="#">
									#서천 마량포 해넘이 해돋이 2020 
								</a>
							</p>
							<div class="t02">
								<span class="date"> 
										2019.12.31~2020.01.01
								</span> <span class="gps">충청남도 서천군 서면 마량리</span>
							</div>
						</div>
					</div>
					<div class="list">
						<div class="pic_area">
							<a
								href="#"
								class="pic"><img
								src="https://joyfesta.kr/uploadedfiles/spot/2019/11/%ED%83%80%EC%A2%85%EC%8B%9D_161504719.jpg" />
								<div class="sts_area">
											<span class="sts_be">진행<br />예정
											</span>
								</div></a>
						</div>
						<div class="cont">
							<p class="t01">
								<a
									href="#">
									#부산새해맞이 시민의 종 타종행사  2020
								</a>
							</p>
							<div class="t02">
								<span class="date"> 
										2019.12.31~2020.01.01
								</span> <span class="gps">부산광역시 중구 광복동2가 용두산길 37-55</span>
							</div>
						</div>
					</div>
					<div class="list">
						<div class="pic_area">
							<a
								href="#"
								class="pic"><img
								src="https://joyfesta.kr/uploadedfiles/spot/2019/12/71ec56bc-92a5-4e2d-ba5d-763d1c1f1620_104639254.JPG" />
								<div class="sts_area">
											<span class="sts_be">진행<br />예정
											</span>
								</div></a>
						</div>
						<div class="cont">
							<p class="t01">
								<a
									href="#">
									#울산 간절곶 해맞이 2020
								</a>
							</p>
							<div class="t02">
								<span class="date"> 
										2019.12.31~2020.01.01
								</span> <span class="gps">울산광역시 울주군 서생면 간절곶1길 39-2</span>
							</div>
						</div>
					</div>
					<div class="list">
						<div class="pic_area">
							<a
								href="#"
								class="pic"><img
								src="https://joyfesta.kr/uploadedfiles/spot/2019/12/5dad805d-210b-47d7-ae61-3d2dab878c37_134320008.jpg" />
								<div class="sts_area">
											<span class="sts_be">진행<br />예정
											</span>
								</div></a>
						</div>
						<div class="cont">
							<p class="t01">
								<a
									href="#">
									#영덕 해맞이 경북대종 타종식 2020
								</a>
							</p>
							<div class="t02">
								<span class="date"> 
										2019.12.31~2020.01.01
								</span> <span class="gps">경상북도 영덕군 강구면 해상공원길 120-7</span>
							</div>
						</div>
					</div>
			</div>
						<div class="item">
					<div class="list">
						<div class="pic_area">
							<a
								href="#"
								class="pic"><img
								src="https://joyfesta.kr/uploadedfiles/spot/2019/12/be691ec6-8a4c-4682-8926-1e7d8749f070_113127595.jpg" />
								<div class="sts_area">
											<span class="sts_be">진행<br />예정
											</span>
								</div></a>
						</div>
						<div class="cont">
							<p class="t01">
								<a
									href="#">
									#아차산 해맞이 축제 2020
								</a>
							</p>
							<div class="t02">
								<span class="date"> 
										2020.01.01~2020.01.01
								</span> <span class="gps">서울특별시 광진구 워커힐로 127</span>
							</div>
						</div>
					</div>
					<div class="list">
						<div class="pic_area">
							<a
								href="#"
								class="pic"><img
								src="https://joyfesta.kr/uploadedfiles/spot/2019/12/caa24cf0-6038-43da-b307-a6a12a87431a_112210474.png" />
								<div class="sts_area">
											<span class="sts_be">진행<br />예정
											</span>
								</div></a>
						</div>
						<div class="cont">
							<p class="t01">
								<a
									href="#">
									#제24회 땅끝 해넘이 해맞이 축제 2020
								</a>
							</p>
							<div class="t02">
								<span class="date"> 
										2019.12.31~2020.01.01
								</span> <span class="gps">전라남도 해남군 송지면 땅끝마을길 42</span>
							</div>
						</div>
					</div>
					<div class="list">
						<div class="pic_area">
							<a
								href="#"
								class="pic"><img
								src="https://joyfesta.kr/uploadedfiles/spot/2019/12/b271311a-0f70-4483-8861-9c32ec5b6297_141038662.jpg" />
								<div class="sts_area">
											<span class="sts_be">진행<br />예정
											</span>
								</div></a>
						</div>
						<div class="cont">
							<p class="t01">
								<a
									href="#">
									#속초 해맞이축제 2020
								</a>
							</p>
							<div class="t02">
								<span class="date"> 
										2019.12.31~2020.01.01
								</span> <span class="gps">강원도 속초시 해오름로 186-2</span>
							</div>
						</div>
					</div>
					<div class="list">
						<div class="pic_area">
							<a
								href="#"
								class="pic"><img
								src="https://joyfesta.kr/uploadedfiles/spot/2019/12/2fbf5d16-efdc-422f-a89e-807db3147a9f_100726726.jpg" />
								<div class="sts_area">
											<span class="sts_be">진행<br />예정
											</span>
								</div></a>
						</div>
						<div class="cont">
							<p class="t01">
								<a
									href="#">
									#제27회 제주 성산일출축제 2020
								</a>
							</p>
							<div class="t02">
								<span class="date"> 
										2019.12.30~2020.01.01
								</span> <span class="gps">제주특별자치도 서귀포시 성산읍</span>
							</div>
						</div>
					</div>
					<div class="list">
						<div class="pic_area">
							<a
								href="#"
								class="pic"><img
								src="https://joyfesta.kr/uploadedfiles/spot/2019/11/5090cf4c-f1dd-44fc-97bc-384e3a466a97_155613424.jpg" />
								<div class="sts_area">
											<span class="sts_be">진행<br />예정
											</span>
								</div></a>
						</div>
						<div class="cont">
							<p class="t01">
								<a
									href="#">
									#여수 항일암 일출제 2020
								</a>
							</p>
							<div class="t02">
								<span class="date"> 
										2019.12.31~2020.01.01
								</span> <span class="gps">전라남도 여수시 돌산읍 향일암로 60</span>
							</div>
						</div>
					</div>
		</div>
	</div>
	<div class="hotRela">
		<a href="javascript:void(0)" class="detLeft"><img
			src="https://joyfesta.kr/include/img/ico/ico_prev03.png" /></a> <a
			href="javascript:void(0)" class="detRight"><img
			src="https://joyfesta.kr/include/img/ico/ico_next03.png" /></a>
	</div>
	</div>
	</div>
</body>
</html>