<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="ko">

<head th:replace="fragments/admin/adminhead :: adminHeadFragment"></head>

<body>
	<div id="container-wrap" class="container-fluid">
		<div id="container" class="row">
			<div id="header" class="col-xs-12" th:replace="fragments/admin/adminheader :: adminHeaderFragment"></div>
	
			<div id="content-wrap" >
				<div id="menu">
                <!-- close/open -->
						<div class="js-adminmenu-toggle"></div>
						<div class="js-listgroup-toggle"></div>
						<!-- //close/open -->
						<div class="menu-header member">
						    <h2>회원</h2>
						</div>
							<div class="panel " th:replace="fragments/admin/sidebar/mobileappsidebar :: adminLeftmenuFragment"></div>			
				</div>			
				<th:block layout:fragment="adminMainContents"></th:block>
					
					
			</div>
			<div id="footer" class="col-xs-12" th:replace="fragments/admin/adminfooter :: adminFooterFragment">
			</div>
		</div>
	</div>
	<th:block th:include="fragments/admin/adminfootercommon"></th:block>
	<th:block th:include="fragments/admin/adminscript"></th:block>	
</body>


</html>