<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{layout/admin/marketingdefault}">

<th:block layout:fragment="marketingScript">
	<script type="text/javascript" src="/admin/script/admin-custom.js?ts=1468220054"></script>
</th:block>

<th:block layout:fragment="adminMainContents">

<div id="content" class="row">
                <div class="col-xs-12">
                    <div class="page-header js-affix">
	<h3>마케팅 메인페이지 <small></small></h3>
    <div class="btn-group">
        <a href="https://marketing.godo.co.kr/board/list.gd" target="_blank" class="btn btn-white" style="background: url(/admin/gd_share/img/marketing_notice.png) no-repeat 5% 70%; padding-left:35px;">마케팅 공지사항</a>
    </div>
</div>

<iframe name='introduce' src='/share/iframe_godo_page.php?menu=main_info' frameborder='0' marginwidth='0' marginheight='0' width='100%' height='2100'></iframe>

                                    </div>
            </div>



</th:block>


</html>
