<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" >


<div class="panel " th:fragment="adminLeftmenuFragment">
                    <div class="panel-heading menu-icon-minus active">마케팅 센터</div>
                <ul class="list-group">                    <li class="list-group-item active">
                        <a href="marketing_info.php?menu=main_info">마케팅 메인페이지</a>                     </li>
                    </ul>                <div class="panel-heading menu-icon-minus ">네이버 쇼핑</div>
                <ul class="list-group">                    <li class="list-group-item ">
                        <a href="marketing_info.php?menu=naver_info">네이버 쇼핑 안내/입점</a>                     </li>
                                        <li class="list-group-item ">
                        <a href="naver_config.php">네이버 쇼핑 설정</a>                     </li>
                                        <li class="list-group-item ">
                        <a href="naver_goods_config.php">네이버 쇼핑 상품 설정</a>                     </li>
                                        <li class="list-group-item ">
                        <a href="naver_script_config.php">공통유입 스크립트 설정</a>                     </li>
                    </ul>                <div class="panel-heading menu-icon-minus ">다음 쇼핑하우</div>
                <ul class="list-group">                    <li class="list-group-item ">
                        <a href="marketing_info.php?menu=daumCpc_info">쇼핑하우 안내/입점</a>                     </li>
                                        <li class="list-group-item ">
                        <a href="daumcpc_config.php">쇼핑하우 설정하기</a>                     </li>
                                        <li class="list-group-item ">
                        <a href="daum_goods_config.php">쇼핑하우 상품 설정</a>                     </li>
                    </ul>                <div class="panel-heading menu-icon-minus ">위메프 원더쇼핑</div>
                <ul class="list-group">                    <li class="list-group-item ">
                        <a href="marketing_info.php?menu=wonder_info">위메프 원더쇼핑 안내/입점</a>                     </li>
                    </ul>                <div class="panel-heading menu-icon-minus ">페이코 서비스</div>
                <ul class="list-group">                    <li class="list-group-item ">
                        <a href="marketing_info.php?menu=payco_pg">페이코 결제 서비스</a>                     </li>
                                        <li class="list-group-item ">
                        <a href="payco_statistics.php">페이코 통계 리포트</a>                     </li>
                    </ul>                <div class="panel-heading menu-icon-minus ">네이버 페이</div>
                <ul class="list-group">                    <li class="list-group-item ">
                        <a href="naverpay_info.php">네이버 페이 안내/신청</a>                     </li>
                    </ul>                <div class="panel-heading menu-icon-minus ">검색 광고</div>
                <ul class="list-group">                    <li class="list-group-item ">
                        <a href="marketing_info.php?menu=keyword_info">키워드광고</a>                     </li>
                                        <li class="list-group-item ">
                        <a href="marketing_info.php?menu=keyword_brand">브랜드 검색</a>                     </li>
                                        <li class="list-group-item ">
                        <a href="marketing_info.php?menu=keyword_shopping">네이버 쇼핑 검색광고</a>                     </li>
                                        <li class="list-group-item ">
                        <a href="marketing_info.php?menu=keyword_newproduct">네이버 신제품 검색</a>                     </li>
                    </ul>                <div class="panel-heading menu-icon-minus ">SNS/바이럴 광고</div>
                <ul class="list-group">                    <li class="list-group-item ">
                        <a href="marketing_info.php?menu=viral_info">바이럴 마케팅</a>                     </li>
                                        <li class="list-group-item ">
                        <a href="marketing_info.php?menu=viral_facebookOP">페이스북 광고/운영</a>                     </li>
                                        <li class="list-group-item ">
                        <a href="facebook_ads_config.php">페이스북 광고 설정</a>                     </li>
                    </ul>                <div class="panel-heading menu-icon-minus ">리타게팅 광고</div>
                <ul class="list-group">                    <li class="list-group-item ">
                        <a href="marketing_info.php?menu=criteo_info">리타게팅 광고 안내</a>                     </li>
                                        <li class="list-group-item ">
                        <a href="targeting_gates_config.php">타게팅게이츠 설정/관리</a>                     </li>
                                        <li class="list-group-item ">
                        <a href="criteo_config.php">크리테오 설정/관리</a>                     </li>
                                        <li class="list-group-item ">
                        <a href="mobon_config.php">모비온 설정/관리</a>                     </li>
                    </ul>                <div class="panel-heading menu-icon-minus ">네이버 쇼핑박스</div>
                <ul class="list-group">                    <li class="list-group-item ">
                        <a href="marketing_info.php?menu=naverAd_trend">네이버 트렌드 상품</a>                     </li>
                                        <li class="list-group-item ">
                        <a href="marketing_info.php?menu=naverAd_mens">네이버 MEN</a>                     </li>
                                        <li class="list-group-item ">
                        <a href="marketing_info.php?menu=naverAd_trendmallA">네이버 트렌드몰</a>                     </li>
                    </ul>                <div class="panel-heading menu-icon-minus ">다음/네이트 쇼핑박스</div>
                <ul class="list-group">                    <li class="list-group-item ">
                        <a href="marketing_info.php?menu=daumAd_shoppingbox1">다음 쇼핑박스 쇼핑홈(1탭)</a>                     </li>
                                        <li class="list-group-item ">
                        <a href="marketing_info.php?menu=daumAd_shoppingbox2">다음 쇼핑박스 패션(2탭)</a>                     </li>
                                        <li class="list-group-item ">
                        <a href="marketing_info.php?menu=daumAd_shoppingboxMobile">다음 모바일 쇼핑박스</a>                     </li>
                                        <li class="list-group-item ">
                        <a href="marketing_info.php?menu=daumAd_nateShoppingbox1">네이트 쇼핑박스 1탭</a>                     </li>
                        </ul>
    </div>


</html>