<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" >


<div class="panel " th:fragment="adminLeftmenuFragment">
                    <div class="panel-heading menu-icon-minus active">모바일샵 기본 관리</div>
                <ul class="list-group">                    <li class="list-group-item active">
                        <a href="mobile_config.php">모바일샵 기본 설정</a>                     </li>
                    </ul>                <div class="panel-heading menu-icon-minus ">모바일샵 디자인 설정</div>
                <ul class="list-group">                    <li class="list-group-item ">
                        <a href="banner_group_list.php">배너 그룹 관리</a>                     </li>
                                        <li class="list-group-item ">
                        <a href="banner_list.php">배너 관리</a>                     </li>
                                        <li class="list-group-item ">
                        <a href="slider_banner_list.php">움직이는 배너 관리</a>                     </li>
                                        <li class="list-group-item ">
                        <a href="multi_popup_list.php">멀티 팝업창 관리</a>                     </li>
                                        <li class="list-group-item ">
                        <a href="popup_list.php">팝업창 관리</a>                     </li>
                    </ul>                <div class="panel-heading menu-icon-minus ">모바일샵 디자인 관리</div>
                <ul class="list-group">                    <li class="list-group-item ">
                        <a href="design_skin_list.php">디자인 스킨 리스트</a>                     </li>
                        </ul>
    </div>


</html>