<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" >


<div class="panel " th:fragment="adminLeftmenuFragment">
                    <div class="panel-heading menu-icon-minus active">주문 관리</div>
                <ul class="list-group">                    <li class="list-group-item active">
                        <a href="order_list_all.php">주문통합리스트</a>                     </li>
                                        <li class="list-group-item ">
                        <a href="order_list_order.php">입금대기 리스트</a>                     </li>
                                        <li class="list-group-item ">
                        <a href="order_list_pay.php">결제완료 리스트</a>                     </li>
                                        <li class="list-group-item ">
                        <a href="order_list_goods.php">상품준비중 리스트</a>                     </li>
                                        <li class="list-group-item ">
                        <a href="order_list_delivery.php">배송중 리스트</a>                     </li>
                                        <li class="list-group-item ">
                        <a href="order_list_delivery_ok.php">배송완료 리스트</a>                     </li>
                                        <li class="list-group-item ">
                        <a href="order_list_settle.php">구매확정 리스트</a>                     </li>
                                        <li class="list-group-item ">
                        <a href="order_list_fail.php">결제 중단/실패 리스트</a>                     </li>
                                        <li class="list-group-item ">
                        <a href="order_invoice.php">송장일괄등록</a>                     </li>
                    </ul>                <div class="panel-heading menu-icon-minus ">취소/교환/반품/환불 관리</div>
                <ul class="list-group">                    <li class="list-group-item ">
                        <a href="order_list_cancel.php">취소 리스트</a>                     </li>
                                        <li class="list-group-item ">
                        <a href="order_list_exchange.php">교환 리스트</a>                     </li>
                                        <li class="list-group-item ">
                        <a href="order_list_back.php">반품 리스트</a>                     </li>
                                        <li class="list-group-item ">
                        <a href="order_list_refund.php">환불 리스트</a>                     </li>
                                        <li class="list-group-item ">
                        <a href="order_list_user_exchange.php">고객 교환/반품/환불신청 관리</a>                     </li>
                    </ul>                <div class="panel-heading menu-icon-minus ">수기주문 관리</div>
                <ul class="list-group">                    <li class="list-group-item ">
                        <a href="order_write.php">수기주문 등록</a>                     </li>
                                        <li class="list-group-item ">
                        <a href="order_frequency_address.php">자주쓰는 주소 관리</a>                     </li>
                    </ul>                <div class="panel-heading menu-icon-minus ">택배연동 서비스</div>
                <ul class="list-group">                    <li class="list-group-item ">
                        <a href="order_info.php?menu=epostParcel_logisticsInfo">CJ대한통운 연동 안내</a>                     </li>
                                        <li class="list-group-item ">
                        <a href="logistics_config.php">CJ대한통운 설정</a>                     </li>
                                        <li class="list-group-item ">
                        <a href="logistics_list.php">CJ대한통운 예약하기</a>                     </li>
                                        <li class="list-group-item ">
                        <a href="post_info.php">우체국택배 연동 안내</a>                     </li>
                                        <li class="list-group-item ">
                        <a href="post_request.php">우체국택배 신청/관리</a>                     </li>
                                        <li class="list-group-item ">
                        <a href="post_issue.php">우체국택배 송장발급(1단계)</a>                     </li>
                                        <li class="list-group-item ">
                        <a href="post_reserve.php">우체국택배 예약하기(2단계)</a>                     </li>
                    </ul>                <div class="panel-heading menu-icon-minus ">자동입금확인 서비스</div>
                <ul class="list-group">                    <li class="list-group-item ">
                        <a href="order_info.php?menu=bankda_intro">자동입금확인 서비스 안내</a>                     </li>
                                        <li class="list-group-item ">
                        <a href="bankda_service.php">자동입금확인 서비스 신청</a>                     </li>
                                        <li class="list-group-item ">
                        <a href="bankda_match.php">입금조회/실시간입금확인</a>                     </li>
                                        <li class="list-group-item ">
                        <a href="bankda_no_match.php">미확인 입금자 관리</a>                     </li>
                    </ul>                <div class="panel-heading menu-icon-minus ">현금영수증 관리</div>
                <ul class="list-group">                    <li class="list-group-item ">
                        <a href="cash_receipt_list.php">현금영수증 발급/조회</a>                     </li>
                                        <li class="list-group-item ">
                        <a href="cash_receipt_register.php">현금영수증 개별발급</a>                     </li>
                    </ul>                <div class="panel-heading menu-icon-minus ">세금계산서 관리(일반/전자)</div>
                <ul class="list-group">                    <li class="list-group-item ">
                        <a href="tax_invoice_config.php">세금계산서 설정</a>                     </li>
                                        <li class="list-group-item ">
                        <a href="tax_invoice_request.php">발행 요청 리스트</a>                     </li>
                                        <li class="list-group-item ">
                        <a href="tax_invoice_list.php">발행 내역 리스트</a>                     </li>
                        </ul>
    </div>


</html>