<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" >


<div class="panel " th:fragment="adminLeftmenuFragment">
                    <div class="panel-heading menu-icon-minus active">쿠폰 관리</div>
                <ul class="list-group">                    <li class="list-group-item ">
                        <a href="coupon_config.php">쿠폰 기본설정</a>                     </li>
                                        <li class="list-group-item active">
                        <a href="coupon_list.php">쿠폰 리스트</a>                     </li>
                                        <li class="list-group-item ">
                        <a href="coupon_regist.php">쿠폰 등록</a>                     </li>
                                        <li class="list-group-item ">
                        <a href="coupon_offline_list.php">페이퍼쿠폰 관리</a>                     </li>
                                        <li class="list-group-item ">
                        <a href="comeback_coupon_list.php">컴백쿠폰 발송 관리</a>                     </li>
                                        <li class="list-group-item ">
                        <a href="coupon_zone_config.php">쿠폰존 관리</a>                     </li>
                    </ul>                <div class="panel-heading menu-icon-minus ">기획전 관리</div>
                <ul class="list-group">                    <li class="list-group-item ">
                        <a href="event_sale_config.php">기획전 관련 설정</a>                     </li>
                                        <li class="list-group-item ">
                        <a href="event_sale_list.php">기획전 리스트</a>                     </li>
                                        <li class="list-group-item ">
                        <a href="event_sale_register.php">기획전 등록</a>                     </li>
                    </ul>                <div class="panel-heading menu-icon-minus ">장바구니 알림</div>
                <ul class="list-group">                    <li class="list-group-item ">
                        <a href="cart_remind_list.php">장바구니 알림 리스트</a>                     </li>
                                        <li class="list-group-item ">
                        <a href="cart_remind_regist.php">장바구니 알림 등록</a>                     </li>
                    </ul>                <div class="panel-heading menu-icon-minus ">타임세일 관리</div>
                <ul class="list-group">                    <li class="list-group-item ">
                        <a href="time_sale_list.php">타임세일 리스트</a>                     </li>
                                        <li class="list-group-item ">
                        <a href="time_sale_register.php">타임세일 등록</a>                     </li>
                    </ul>                <div class="panel-heading menu-icon-minus ">출석체크 관리</div>
                <ul class="list-group">                    <li class="list-group-item ">
                        <a href="attendance_list.php">출석체크 리스트</a>                     </li>
                                        <li class="list-group-item ">
                        <a href="attendance_register.php">출석체크 등록</a>                     </li>
                    </ul>                <div class="panel-heading menu-icon-minus ">SNS서비스 관리</div>
                <ul class="list-group">                    <li class="list-group-item ">
                        <a href="sns_share_config.php">SNS공유하기 설정</a>                     </li>
                                        <li class="list-group-item ">
                        <a href="insgo_widget_list.php">인스고위젯관리</a>                     </li>
                    </ul>                <div class="panel-heading menu-icon-minus ">QR코드 관리</div>
                <ul class="list-group">                    <li class="list-group-item ">
                        <a href="qr_code_config.php">QR코드 기본설정</a>                     </li>
                                        <li class="list-group-item ">
                        <a href="qr_code_list.php">QR코드 관리</a>                     </li>
                    </ul>                <div class="panel-heading menu-icon-minus ">단축URL 관리</div>
                <ul class="list-group">                    <li class="list-group-item ">
                        <a href="short_url_list.php">단축URL 관리</a>                     </li>
                    </ul>                <div class="panel-heading menu-icon-minus ">설문조사 관리</div>
                <ul class="list-group">                    <li class="list-group-item ">
                        <a href="poll_list.php">설문조사 리스트</a>                     </li>
                                        <li class="list-group-item ">
                        <a href="poll_register.php">설문조사 등록</a>                     </li>
                        </ul>
    </div>


</html>