<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" >


<div class="panel " th:fragment="adminLeftmenuFragment">
                    <div class="panel-heading menu-icon-minus active">공급사 관리</div>
                <ul class="list-group">                    <li class="list-group-item active">
                        <a href="scm_list.php">공급사 관리</a>                     </li>
                                        <li class="list-group-item ">
                        <a href="scm_board_list.php">공급사 게시글 관리</a>                     </li>
                                        <li class="list-group-item ">
                        <a href="scm_commission_list.php">공급사 수수료 관리</a>                     </li>
                    </ul>                <div class="panel-heading menu-icon-minus ">공급사 상품관리</div>
                <ul class="list-group">                    <li class="list-group-item ">
                        <a href="scm_apply_product_list.php">상품 승인 관리</a>                     </li>
                                        <li class="list-group-item ">
                        <a href="scm_apply_add_product_list.php">추가 상품 승인 관리</a>                     </li>
                    </ul>                <div class="panel-heading menu-icon-minus ">공급사정산관리</div>
                <ul class="list-group">                    <li class="list-group-item ">
                        <a href="scm_adjust_total.php">통합 정산 관리</a>                     </li>
                                        <li class="list-group-item ">
                        <a href="scm_adjust_list.php">정산 관리</a>                     </li>
                                        <li class="list-group-item ">
                        <a href="scm_adjust_manual.php">수기 정산 요청</a>                     </li>
                                        <li class="list-group-item ">
                        <a href="scm_adjust_order.php">주문 상품 정산 요청</a>                     </li>
                                        <li class="list-group-item ">
                        <a href="scm_adjust_delivery.php">배송비 정산 요청</a>                     </li>
                    </ul>                <div class="panel-heading menu-icon-minus ">정산 후 환불</div>
                <ul class="list-group">                    <li class="list-group-item ">
                        <a href="scm_adjust_after_order.php">정산 후 주문 상품 환불 정산</a>                     </li>
                                        <li class="list-group-item ">
                        <a href="scm_adjust_after_delivery.php">정산 후 배송비 환불 정산</a>                     </li>
                    </ul>                <div class="panel-heading menu-icon-minus ">세금계산서</div>
                <ul class="list-group">                    <li class="list-group-item ">
                        <a href="tax_bill_list.php">발행 내역 리스트</a>                     </li>
                                        <li class="list-group-item ">
                        <a href="tax_bill_scm.php">수수료 계산서 발급 관리</a>                     </li>
                        </ul>
    </div>


</html>