<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" >


<div class="panel " th:fragment="adminLeftmenuFragment">
                    <div class="panel-heading menu-icon-minus active">부가서비스</div>
                <ul class="list-group">                    <li class="list-group-item active">
                        <a href="service_info.php?menu=power_main">부가서비스 메인페이지</a>                     </li>
                    </ul>                <div class="panel-heading menu-icon-minus ">결제관리</div>
                <ul class="list-group">                    <li class="list-group-item ">
                        <a href="service_info.php?menu=pg_info">전자결제(PG) 서비스</a>                     </li>
                                        <li class="list-group-item ">
                        <a href="service_info.php?menu=pg_payco_info">페이코 결제 서비스</a>                     </li>
                                        <li class="list-group-item ">
                        <a href="service_info.php?menu=pg_easypay_info">간편결제 서비스</a>                     </li>
                                        <li class="list-group-item ">
                        <a href="service_info.php?menu=pg_mobile_info">휴대폰 결제 서비스</a>                     </li>
                                        <li class="list-group-item ">
                        <a href="service_info.php?menu=pg_ebank_info">무통장자동입금확인</a>                     </li>
                    </ul>                <div class="panel-heading menu-icon-minus ">회원관리</div>
                <ul class="list-group">                    <li class="list-group-item ">
                        <a href="service_info.php?menu=member_sms_info">SMS 문자전송</a>                     </li>
                                        <li class="list-group-item ">
                        <a href="service_info.php?menu=member_kakao_alrim">카카오 알림톡</a>                     </li>
                                        <li class="list-group-item ">
                        <a href="service_info.php?menu=member_kakaocounsel_info">카카오 상담톡</a>                     </li>
                                        <li class="list-group-item ">
                        <a href="service_info.php?menu=member_auth_info">휴대폰본인확인 서비스</a>                     </li>
                                        <li class="list-group-item ">
                        <a href="service_info.php?menu=member_ipin_info">아이핀 서비스</a>                     </li>
                                        <li class="list-group-item ">
                        <a href="service_info.php?menu=member_payco_info">페이코 아이디 로그인</a>                     </li>
                                        <li class="list-group-item ">
                        <a href="service_info.php?menu=member_safenumber_info">안심번호 서비스</a>                     </li>
                                        <li class="list-group-item ">
                        <a href="service_info.php?menu=member_crema_info">크리마 간편리뷰</a>                     </li>
                                        <li class="list-group-item ">
                        <a href="service_info.php?menu=member_dbins_info">개인정보보호배상책임</a>                     </li>
                                        <li class="list-group-item ">
                        <a href="service_info.php?menu=member_nicekeeper_info">NICE고객지키미</a>                     </li>
                    </ul>                <div class="panel-heading menu-icon-minus ">글로벌</div>
                <ul class="list-group">                    <li class="list-group-item ">
                        <a href="service_info.php?menu=overseas_ovserseas_info">해외 결제 서비스</a>                     </li>
                                        <li class="list-group-item ">
                        <a href="service_info.php?menu=overseas_purchase">해외구매대행</a>                     </li>
                                        <li class="list-group-item ">
                        <a href="global_translation.php">글로벌 번역 서비스</a>                     </li>
                    </ul>                <div class="panel-heading menu-icon-minus ">모바일</div>
                <ul class="list-group">                    <li class="list-group-item ">
                        <a href="service_info.php?menu=mobile_smartskin_info">스마트스킨</a>                     </li>
                    </ul>                <div class="panel-heading menu-icon-minus ">운영편의</div>
                <ul class="list-group">                    <li class="list-group-item ">
                        <a href="service_info.php?menu=convenience_godobill_info">고도빌 전자세금계산서</a>                     </li>
                                        <li class="list-group-item ">
                        <a href="service_info.php?menu=convenience_refusal_info">080 수신거부 서비스</a>                     </li>
                                        <li class="list-group-item ">
                        <a href="service_info.php?menu=convenience_packing_info">포장박스/봉투</a>                     </li>
                                        <li class="list-group-item ">
                        <a href="service_info.php?menu=convenience_autoledger_info">자동장부(셀프세무신고)</a>                     </li>
                                        <li class="list-group-item ">
                        <a href="service_info.php?menu=convenience_shoplinker_info">마켓연동</a>                     </li>
                                        <li class="list-group-item ">
                        <a href="service_info.php?menu=convenience_mobilecti_info">모바일콜센터</a>                     </li>
                    </ul>                <div class="panel-heading menu-icon-minus ">홍보/마케팅</div>
                <ul class="list-group">                    <li class="list-group-item ">
                        <a href="service_info.php?menu=marketing_ifdo_info">마케팅 자동화(IFDO)</a>                     </li>
                                        <li class="list-group-item ">
                        <a href="service_info.php?menu=marketing_comeback_info">컴백쿠폰/SMS 문자 서비스</a>                     </li>
                                        <li class="list-group-item ">
                        <a href="service_info.php?menu=marketing_stibee">이메일 마케팅</a>                     </li>
                                        <li class="list-group-item ">
                        <a href="service_info.php?menu=marketing_powermail_info">파워메일(대량메일)</a>                     </li>
                                        <li class="list-group-item ">
                        <a href="service_info.php?menu=marketing_basket_info">장바구니 상품 문자 알림</a>                     </li>
                                        <li class="list-group-item ">
                        <a href="service_info.php?menu=marketing_livefeed_info">실시간 상담 채팅</a>                     </li>
                                        <li class="list-group-item ">
                        <a href="service_info.php?menu=marketing_realpacking_info">리얼패킹(포장영상촬영)</a>                     </li>
                                        <li class="list-group-item ">
                        <a href="service_info.php?menu=marketing_printing_info">맞춤 인쇄물 주문관리</a>                     </li>
                    </ul>                <div class="panel-heading menu-icon-minus ">디자인/지원</div>
                <ul class="list-group">                    <li class="list-group-item ">
                        <a href="service_info.php?menu=design_designsource_info">디자인 소스</a>                     </li>
                                        <li class="list-group-item ">
                        <a href="service_info.php?menu=design_postoffice_info">우체국 택배연동 서비스</a>                     </li>
                                        <li class="list-group-item ">
                        <a href="service_info.php?menu=design_wholesale_info">무자본 도매 창업</a>                     </li>
                                        <li class="list-group-item ">
                        <a href="service_info.php?menu=design_photograph_info">상품촬영/이미지제작</a>                     </li>
                                        <li class="list-group-item ">
                        <a href="service_info.php?menu=design_openapi_info">오픈API</a>                     </li>
                    </ul>                <div class="panel-heading menu-icon-minus ">부가서비스 환경설정</div>
                <ul class="list-group">                    <li class="list-group-item ">
                        <a href="livefeed_config.php">실시간 상담 채팅 사용 설정</a>                     </li>
                                        <li class="list-group-item ">
                        <a href="crema_config.php">크리마 간편리뷰 설정</a>                     </li>
                                        <li class="list-group-item ">
                        <a href="happytalk_config.php">카카오 상담톡 설정</a>                     </li>
                                        <li class="list-group-item ">
                        <a href="ifdo_config.php">마케팅 자동화(IFDO) 설정</a>                     </li>
                        </ul>
    </div>


</html>