<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" >


<div class="panel " th:fragment="adminLeftmenuFragment">
                    <div class="panel-heading menu-icon-minus active">방문자분석</div>
                <ul class="list-group">                    <li class="list-group-item active">
                        <a href="visit_today.php">방문자 분석</a>                     </li>
                                        <li class="list-group-item ">
                        <a href="visit_inflow.php">방문자 경로분석</a>                     </li>
                                        <li class="list-group-item ">
                        <a href="visit_os.php">방문자 환경분석</a>                     </li>
                                        <li class="list-group-item ">
                        <a href="visit_ip.php">방문자 IP분석</a>                     </li>
                    </ul>                <div class="panel-heading menu-icon-minus ">회원분석</div>
                <ul class="list-group">                    <li class="list-group-item ">
                        <a href="member_new_day.php">신규 회원분석</a>                     </li>
                                        <li class="list-group-item ">
                        <a href="member_day.php">전체 회원분석</a>                     </li>
                                        <li class="list-group-item ">
                        <a href="member_mileage.php">회원 마일리지 분석</a>                     </li>
                                        <li class="list-group-item ">
                        <a href="member_deposit.php">회원 예치금 분석</a>                     </li>
                    </ul>                <div class="panel-heading menu-icon-minus ">상품분석</div>
                <ul class="list-group">                    <li class="list-group-item ">
                        <a href="goods_category.php">카테고리 분석</a>                     </li>
                                        <li class="list-group-item ">
                        <a href="goods_sale_rank.php">판매순위 분석</a>                     </li>
                                        <li class="list-group-item ">
                        <a href="goods_main_rank.php">메인분류 분석</a>                     </li>
                                        <li class="list-group-item ">
                        <a href="goods_search_word_rank.php">검색어순위 분석</a>                     </li>
                                        <li class="list-group-item ">
                        <a href="goods_page_view.php">페이지뷰 분석</a>                     </li>
                                        <li class="list-group-item ">
                        <a href="goods_cart.php">장바구니 분석</a>                     </li>
                                        <li class="list-group-item ">
                        <a href="goods_purchase.php">매입처순위 분석</a>                     </li>
                                        <li class="list-group-item ">
                        <a href="goods_wish.php">관심상품 분석</a>                     </li>
                    </ul>                <div class="panel-heading menu-icon-minus ">매출분석</div>
                <ul class="list-group">                    <li class="list-group-item ">
                        <a href="sales_day.php">매출통계</a>                     </li>
                                        <li class="list-group-item ">
                        <a href="sales_age_day.php">연령별 매출통계</a>                     </li>
                                        <li class="list-group-item ">
                        <a href="sales_settle_day.php">결제수단별 매출통계</a>                     </li>
                                        <li class="list-group-item ">
                        <a href="sales_area_day.php">지역별 매출통계</a>                     </li>
                    </ul>                <div class="panel-heading menu-icon-minus ">주문분석</div>
                <ul class="list-group">                    <li class="list-group-item ">
                        <a href="order_day.php">주문통계</a>                     </li>
                                        <li class="list-group-item ">
                        <a href="order_age_day.php">연령별 주문통계</a>                     </li>
                                        <li class="list-group-item ">
                        <a href="order_area_day.php">지역별 주문통계</a>                     </li>
                                        <li class="list-group-item ">
                        <a href="order_gender_day.php">성별 주문통계</a>                     </li>
                        </ul>
    </div>


</html>