<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{layout/admin/mobileappdefault}">

<th:block layout:fragment="mobileappScript">
	<script type="text/javascript" src="/admin/script/admin-custom.js?ts=1468220054"></script>
</th:block>

<th:block layout:fragment="adminMainContents">

<div id="content" class="row">
                <div class="col-xs-12">
                        <div class="page-header js-affix">
        <h3>모바일앱만들기 <small></small></h3>
    </div>

    <iframe name='introduce' src='/share/iframe_godo_page.php?menu=myapp_info' frameborder='0' marginwidth='0' marginheight='0' width='100%' height='2100'></iframe>

                                    </div>
            </div>



</th:block>


</html>
