<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="ebudgetHeadFragment">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta charset="utf-8">
	
	<th:block layout:fragment="ebudgetScript"></th:block>
	
   <!-- <script type="text/javascript" src="./js/jquery.js"></script>-->
	<!--<script type="text/javascript" src="./js/interface.js"></script>-->

	<link rel='stylesheet' href='/ebudget/css/default.css' type='text/css' />
    <link rel='stylesheet' href='/ebudget/css/mediaquery_index.css' type='text/css' media = "screen" />
	
	<!-- <meta http-equiv="X-UA-Compatible" content="IE=9,chrome=1">  -->
	<title>
	세입세출재정정보공개시스템	</title>

</head>

</html>