<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" >
<header th:fragment="ebudgetHeaderFragment">

			  <div id="topW"  style="background-color:#2B2B2B;">
      <span style="color:#2B2B2B; font-size:8pt;" class="ver_st">Ver 3.21</span>

 		<div  class="top">
		<ul>
    		
            <li><a href="/adminview/adminMainView"  title='홈으로 이동' >!관리자 홈페이지</a></li>
			<li><a href="/" target="_blank"  title='축제 홈페이지로 이동'>!축제 홈페이지</a></li>
        </ul>
		</div>
     </div><!--topW-->
 </header>      

</html>